.wrapper {
  min-height: 100%;
  width: 100%;

  display: flex;
}

.main {
  width: 100%;
  max-width: 75rem;
  min-width: 20rem;
  margin: 0 auto;

  position: relative;
}

.footer {
  width: 100%;
  bottom: 1rem;
  position: absolute;
  text-align: center;
}
