.section {
  width: 100%;
  margin: 0 auto;
  list-style: none;

  display: flex;
  justify-content: center;
  gap: 1rem;
}

.icon {
  background-color: white;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  aspect-ratio: 1;
  transition: all 0.15s ease-in;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--color-grey-400);
  }

  & a {
    height: 1.25rem;
  }
}
