.contact {
  text-align: center;
  margin-bottom: 1rem;
}

.form {
  width: 100%;
  margin: 0 auto 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.title {
  font-size: 3rem;
  font-weight: 500;
}

.description {
  font-size: 2rem;
}

.control {
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.control label {
  display: block;
  margin-bottom: 0.2rem;
  color: var(--color-grey-600);
  text-transform: uppercase;
  font-weight: bold;
}

.control .sub label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  color: var(--color-grey-600);
  font-weight: 500;
}
.control input {
  display: block;
  width: 20rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid gainsboro;
  border-radius: 2px;
  background-color: var(--color-grey-100);
  color: var(--color-grey-700);
}

.control input.email {
  width: 20rem;
}

.control textarea {
  padding: 0.5rem;
  width: 20rem;
  background-color: var(--color-grey-100);
  color: var(--color-grey-700);
  font-family: inherit;
  font-size: 1rem;
  border-radius: 2px;
  border: 1px solid gainsboro;
}

.formActions {
  display: flex;
  justify-content: center;
}

.button {
  height: 2.5rem;
  width: 5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid gainsboro;
  background-color: var(--color-grey-50);
  color: var(--color-grey-800);
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: var(--color-grey-700);
    color: var(--color-grey-0);
  }
}

.errors {
  list-style: none;
  color: lightslategray;
}

@media (min-width: 750px) {
  .row {
    flex-direction: row;
    gap: 2rem;
  }

  .control input {
    width: 20rem;
  }

  .control input.email {
    width: 42rem;
  }

  .control textarea {
    width: 42rem;
  }
}
