.background {
  height: 100dvh;
  min-height: 100dvh;
  min-width: 20rem;
  background-image: url('/hero.webp');
  background-size: cover;
  background-position: top;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 90%;
  padding-top: 2rem;
  padding-bottom: 1rem;

  & img {
    height: 10rem;
    aspect-ratio: 1;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
  }
}

.intro {
  width: 90%;
  margin: 1rem auto;
  text-align: center;
}

.name {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  color: var(--color-grey-0);
  text-shadow: var(--shadow-lg);
}

.description {
  font-size: 1.5rem;
  color: var(--color-grey-0);
  text-shadow: var(--shadow-lg);
}

.nav {
  width: 90%;
  list-style: none;
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  & a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-grey-0);
    text-shadow: var(--shadow-lg);

    transition: all 0.15s ease-in;

    &:hover {
      color: var(--color-blue-400);
    }
  }
}

.footer {
  width: 100%;
  bottom: 1rem;
  position: absolute;
  text-align: center;
}

@media (min-width: 750px) {
  .name {
    font-size: 4rem;
  }

  .description {
    font-size: 1.8rem;
  }
}
