.background {
  height: 100dvh;
  min-height: 100dvh;
  min-width: 20rem;
  background-image: url('/hero.webp');
  background-size: cover;
  background-position: top;
  padding-bottom: 5rem;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.header {
  width: 90%;
  padding: 3rem;

  & img {
    height: 3rem;
    aspect-ratio: 1;
    display: block;
    margin: 0 auto;
    object-fit: cover;

    border-radius: 50%;
  }
}

.intro {
  width: 90%;
  margin: 1rem auto;
  text-align: center;
}

.name {
  font-family: 'Jost', sans-serif;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: var(--color-grey-600);
  color: white;
}

.description {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.nav {
  width: 90%;
  margin-top: 2rem;
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  & a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    transition: all 0.15s ease-in;

    &:hover {
      color: var(--color-grey-500);
    }
  }
}

.footer {
  bottom: 5rem;
  position: absolute;
}
