.mainNav {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  border-bottom: 1px solid transparent;
  opacity: 0.9;
  transform: translateY(0); /* initially hidden */
  transition: 0.3s ease-in;

  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  border: none;
  background: transparent;
  text-align: start;
  flex-basis: 10rem;
}

.link {
  text-decoration: none;
  color: var(--color-grey-50);
  flex-basis: 10rem;

  display: flex;
  justify-content: center;
}

.name {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--color-grey-700);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh; /* height = 100dvh, so click anywhere outside the sidebar */
  background: var(--backdrop-color);
  z-index: 5;
  display: none; /* set by event handlers */
}

.displayBlock {
  display: block;
}

@media (min-width: 750px) {
  .mainNav {
    transform: translateY(-110%); /* hide mainNav on regular desktop screen */
  }
}
