.mainNav {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  border-bottom: 1px solid transparent;
  background-color: var(--color-blue-800);
  opacity: 0.9;

  position: sticky;
  top: 0;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  animation: fadeInFromUp 0.5s ease-out;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  border: none;
  background-color: var(--color-blue-800);
  text-align: start;
  flex-basis: 10rem;
}

.link {
  text-decoration: none;
  color: var(--color-grey-50);
  flex-basis: 10rem;

  display: flex;
  justify-content: center;
}

.socialSection {
  display: none;
  flex-basis: 10rem;
}

.name {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.mobileNav {
  width: 30rem;
  min-width: 14rem;
  height: 100dvh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: var(--color-grey-50);
  z-index: 50;
  padding: 2rem;
  transform: translateX(-100%); /* initially hidden */
  transition: transform 0.15s ease-out;

  list-style: none;
}

.open {
  transform: translateX(0);
}

.mobileNavItem {
  text-decoration: none;
  color: var(--color-grey-500);
  font-size: 1.5rem;

  position: relative;

  &:hover {
    color: var(--color-grey-900);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh; /* height = 100dvh, so click anywhere outside the sidebar */
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
  display: none; /* set by event handlers */
}

.displayBlock {
  display: block;
}

.copy {
  padding: 0.5rem 0;
  position: absolute;
  bottom: 2rem;
}

@media (min-width: 750px) {
  .mainNav {
    padding: 4rem 8rem 2rem 8rem;
  }

  .socialSection {
    display: block;
    justify-content: flex-end;
  }
}

@keyframes fadeInFromUp {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
