.sidebar {
  position: fixed;
  width: 3.8rem;
  height: 100vh;
  background-color: var(--color-grey-0);
  overflow-y: auto;
  transition: 0.3s ease-in;
  transform: translateX(-100%); /* mobile first, initially hidden */

  z-index: 10;

  &:hover {
    width: 20rem;
  }
}

.mainNav {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  border-bottom: 1px solid transparent;
  background-color: var(--color-blue-800);
  opacity: 0.9;
  transform: translateY(0); /* mobile first, initially hidden */

  position: sticky;
  top: 0;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  animation: fadeInFromUp 0.5s ease-out;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open {
  transform: translateX(0);
}

.mainNav {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  border-bottom: 1px solid transparent;
  background-color: var(--color-blue-800);
  opacity: 0.9;

  position: sticky;
  top: 0;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  animation: fadeInFromUp 0.5s ease-out;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar ul {
  position: relative;
  height: 100vh;
  list-style: none;
}

.sidebar ul li:hover {
  background: var(--color-blue-200);
}

.sidebar ul li a {
  white-space: nowrap;
  margin-left: 1.5rem;
  text-decoration: none;

  position: relative;

  display: flex;
  gap: 1rem;
}

.sidebar ul li a .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1rem;
  height: 3.8rem;
  font-size: 1rem;
}

.sidebar ul li a .title {
  position: relative;
  height: 3.8rem;
  display: flex;
  color: var(--color-grey-700);
  align-items: center;
  padding-left: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.sidebar ul li:nth-child(1) a {
  padding-bottom: 3rem;
}

@media (min-width: 750px) {
  .sidebar {
    transform: translateX(0); /* show sidebar, in regular desktop screen */
  }

  .mainNav {
    transform: translateY(-100%); /* mobile first, initially hidden */
  }
}
