@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  /* Grey colors */
  --color-grey-0: #ffffff;
  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #111827;

  /* Blue colors */
  --color-blue-0: #eff6ff;
  --color-blue-50: #dbeafe;
  --color-blue-100: #bfdbfe;
  --color-blue-200: #93c5fd;
  --color-blue-300: #60a5fa;
  --color-blue-400: #3b82f6;
  --color-blue-500: #2563eb;
  --color-blue-600: #1d4ed8;
  --color-blue-700: #1e40af;
  --color-blue-800: #1e3a8a;
  --color-blue-900: #172554;

  /* Additional colors */
  --color-black: #333;
  --color-light-bg: #eee;

  --backdrop-color: rgba(255, 255, 255, 0.1);

  --shadow-sm: 0 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
  --shadow-md: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);
  --shadow-lg: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: var(--color-grey-800);
  outline: none;
  border: none;
  text-decoration: none;
  background-color: var(--color-light-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
